.profile_images{
  background-image: url('../../../assets/images/banner.png');
  border-radius: 3%;
}


.profile_pic {
  margin: 3%;
  width: 45%;
  border-radius: 100%;
  padding: 3px;
  border: 3px solid var(--ion-color-primary);
}
