<img
  class="profile_pic"
  src="https://avatars.githubusercontent.com/u/96220499?v=4"
  alt="Foto de Luiz Fiuza sorrindo para a foto, sentado em uma cadeira verde, usando um óculos de armação preta juntamente com o uniforme preto da Etec Sales Gomes e em seu pescoço um crachá de identificação da Campus Party 15 Brasil"
/>

<ion-card-header>
  <ion-card-title>Luiz Fiuza B. Freitas</ion-card-title>
  <ion-card-subtitle class="ion-text-start">
   Técnico em Desenvolvimento de Sistemas | Desenvolvedor Front-End | Designer
  </ion-card-subtitle>
</ion-card-header>

<ion-list lines="full">
  <ion-list-header>
    <ion-label>Links/Contato/Currículo</ion-label>
  </ion-list-header>

  <ion-item href="https://www.linkedin.com/in/luiz-fiuza-/" target="_blank">
    <ion-icon color="dark" name="logo-github"></ion-icon>
    /luizfiuzaa
  </ion-item>

  <ion-item href="https://github.com/luizfiuzaa" target="_blank">
    <ion-icon color="primary" name="logo-linkedin"></ion-icon>
    /luiz-fiuza-
  </ion-item>

  <ion-item href="mailto:luizfiuza.b@gmail.com" target="_blank">
    <ion-icon color="secondary" name="mail"></ion-icon>
    luizfiuza.b&#64;gmail.com
  </ion-item>

  <ion-item
    lines="none"
    href="https://www.linkedin.com/posts/luiz-fiuza-_angular-ionic-php-activity-7135078243274997762-1ugx?utm_source=share&utm_medium=member_desktop"
    target="_blank"
  >
    <ion-button expand="block" size="default" color="success">
      Baixar CV
      <ion-icon slot="end" name="cloud-download"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
