<ion-card-title>
  <ion-buttons
    class="ion-align-self-center ion-justify-content-center ion-margin-top"
  >
    <ion-title class="ion-text-center">Sobre Mim</ion-title>
  </ion-buttons>
</ion-card-title>
<ion-row class="ion-align-self-center ion-justify-content-center">
  <ion-col size-sm="12" size-md="12" size-lg="8">
    <p class="about-me-info">👋 Olá! Me chamo Luiz Fiuza.</p>

    <article>
      <p class="about-me-info">
        👤 Sempre me interessei pela área da Tecnologia e Informação, gosto de
        compreender novos assuntos ou funcionamentos dentro e fora da área da
        tecnologia.
        <br />
        Sou formado como Técnico em Desenvolvimento de Sistemas e busco uma
        oportunidade na área de Desenvolvimento Web/Mobile.
      </p>
    </article>

    <p class="about-me-info">
      🎓 Concluí em 2023 meu ensino Médio Integrado ao Técnico na Etec Sales
      Gomes, Tatuí.
    </p>

    <p class="about-me-info">
      📚 Atualmente estou estudando Análise e Desenvolvimento de Sistemas na
      Fatec.
    </p>
  </ion-col>
</ion-row>

<ion-card-title>
  <ion-buttons
    class="ion-align-self-center ion-justify-content-center ion-margin-top about-me-title"
  >
    <ion-title class="ion-text-center">Tecnologias & Ferramentas</ion-title>
  </ion-buttons>
</ion-card-title>
<ion-card-content class="about-me-info">
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="12" size-md="12" size-lg="8">
      <ion-row>
        <app-techs></app-techs>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card-content>

<ion-card-title>
  <ion-buttons
    class="ion-align-self-center ion-justify-content-center ion-margin-top about-me-title"
  >
    <ion-title class="ion-text-center">Atualmente Estudando</ion-title>
  </ion-buttons>
</ion-card-title>
<ion-card-content class="about-me-info">
  <ion-col size-sm="12" size-md="12" size-lg="8">
    <ion-row class="ion-align-self-center ion-justify-content-center">
      <ion-row>
        <app-learning-techs></app-learning-techs>
      </ion-row>
    </ion-row>
  </ion-col>
</ion-card-content>
