<ion-card-title>
  <ion-buttons
    class="ion-align-self-center ion-justify-content-center ion-margin-top"
  >
    <ion-button>
      <ion-title>Sobre Mim</ion-title>
    </ion-button>
  </ion-buttons>
</ion-card-title>
<ion-row class="ion-align-self-center ion-justify-content-center">
  <ion-col size="12" sizeMd="7">
    <ion-card-content class="about-me-info">
      👋 Olá! Me chamo Luiz Fiuza e sou Desenvolvedor Front-End e também Técnico
      em Desenvolvimento de Sistemas. Sempre fui interessado pela tecnologia ao
      todo, me identifico com a área Front-End Developer. Cursei meu técnico na
      Etec e atualmente estou estudando Análise e Desenvolvimento de Sistemas na
      Fatec.
    </ion-card-content>
  </ion-col>
</ion-row>

<ion-card-title>
  <ion-buttons
    class="ion-align-self-center ion-justify-content-center ion-margin-top about-me-title"
  >
    <ion-button>
      <ion-title>Tecnologias & Ferramentas</ion-title>
    </ion-button>
  </ion-buttons>
</ion-card-title>
<ion-card-content class="about-me-info">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <app-techs></app-techs>
    </ion-col>
  </ion-row>
</ion-card-content>

<ion-card-title>
  <ion-buttons
    class="ion-align-self-center ion-justify-content-center ion-margin-top about-me-title"
  >
    <ion-button>
      <ion-title>Atualmente Estudando</ion-title>
    </ion-button>
  </ion-buttons>
</ion-card-title>
<ion-card-content class="about-me-info">
  <ion-col size="12" sizeMd="6">
    <ion-row class="ion-align-self-center ion-justify-content-center">
      <ion-row>
        <app-learning-techs></app-learning-techs>
      </ion-row>
    </ion-row>
  </ion-col>
</ion-card-content>
