ion-card {
  min-width: 268px;
  transform: translateY(auto);
  transition: all ease-in-out 0.3s;
  ion-card-content {
    min-height: 220px;
    max-height: 220px;
  }

}

ion-chip {cursor: default;}

ion-card:hover {transform: translateY(-13px);}