
ion-card {
  min-width: 268px;
  transform: translateY(auto);
  transition: all ease-in-out 0.3s;
  ion-card-content{
    min-height: 225px;
  }
  .link_buttons{margin-top: 5%;}

}
ion-card:hover {
  transform: translateY(-13px);
}
