<ion-col size="12">
  <ion-row
    class="ion-align-self-center ion-justify-content-center ion-margin-top"
  >
    <ion-card-title>
      <ion-buttons>
        <ion-button>
          <ion-title>Projetos</ion-title>
        </ion-button>
      </ion-buttons>
    </ion-card-title>
  </ion-row>
</ion-col>

<ion-col size="12">
  <ion-row>
    <ng-container *ngFor="let project of this.projects; let id = index">
      <ion-col size="12" sizeMd="3">
        <ion-row>
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="{{project.image}}"
            />
            <ion-card-header>
              <ion-card-title>{{ project.title }}</ion-card-title>
              <ion-card-subtitle>
                <ng-container *ngFor="let tech of project.techs">
                  <ion-chip color="{{ tech.color }}">
                    <ion-icon name="{{ tech.logo }}"></ion-icon>
                    <ion-label>{{ tech.name }}</ion-label>
                  </ion-chip>
                </ng-container>
              </ion-card-subtitle>
            </ion-card-header>
  
            <ion-card-content> {{ project.desc }} </ion-card-content>
            <ion-card-content>
              <ion-col size="12" sizeMd="6">
                <ion-button expand="full" color="success">Ver Projeto</ion-button>
                <ion-button expand="full" color="dark">Ver Repositório</ion-button>
              </ion-col>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-col>
