.links>ion-button{
  text-transform: lowercase;
}

.about-me-info{
  font-size: 1.3em;
}

.profile_pic{
  margin-left: 3%;
  width: 150px;
  border-radius: 100%;
  padding: 3px;
  border: 3px solid var(--ion-color-success);
}

// ion-row{
//   background: rgba(255, 0, 0, 0.493);
// }

// ion-col{
//   background: rgba(47, 137, 255, 0.404);
// }
