<ion-header>
  <ion-toolbar>
    <ion-title> luizfiuzaa </ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-col class="profile_desc" size="12">
    <ion-row>
      <ion-col size="3">
        <img
          class="profile_pic"
          src="https://avatars.githubusercontent.com/u/96220499?v=4"
          alt="imagem de um jovem de óculos com a armação preta, cabelo loiro, de uniforme escolar preto, sorrindo para a câmera com um crachá de identificação da campus party em 2023"
        />
      </ion-col>
      <ion-col size="9">
        <ion-row class="ion-justify-content-center">
          <h1>Luiz Fiuza B. Freitas</h1>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="4">
            <ion-button size="default" color="success" expand="block">
              Baixar CV
              <ion-icon slot="end" name="cloud-download"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="4">
            <ion-button size="default" color="primary" expand="block">
              Contato
              <ion-icon slot="end" name="mail"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="4">
            <ion-button size="default" color="medium" expand="block">
              <ion-icon slot="icon-only" name="share-social"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col size="12">
    <ion-row>
      <ion-segment color="primary" value="about" [(ngModel)]="selectSegment">
        <ion-segment-button value="about" layout="icon-end">
          <ion-label>Sobre</ion-label>
        </ion-segment-button>

        <ion-segment-button value="projects" layout="icon-end">
          <ion-label>(2) Projetos</ion-label>
          <ion-icon name="document-text"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="techs" layout="icon-end">
          <ion-label>(9) Tecnologias</ion-label>
          <ion-icon name="flash"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-col>

  <ion-col size="12">
    <ion-row>
      <div *ngIf="selectSegment == 'about'">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sobre Mim</ion-card-title>
            <ion-card-subtitle
              >Téc. Desenvolvimento de Sistemas</ion-card-subtitle
            >
          </ion-card-header>

          <div class="about_me">
            <ion-card-content>
              <p>
                👋 Olá! Me chamo Luiz Fiuza, sou Técnico em Desenvolvimento de
                Sistemas e atualmente estou cursando Análise e Desenvolvimento
                de Sistemas.
              </p>
            </ion-card-content>

            <ion-card-content>
              <p>
                Me interesso bastante pelo Front-End, tenho conhecimento sobre
                Angular e Ionic e atualmente estou estudando React e Flutter.
              </p>
            </ion-card-content>
            <ion-card-content>
              <p>
                Sinta-se livre para ver meus projetos e entrar em contato comigo
                :)
              </p>
            </ion-card-content>
          </div>
        </ion-card>
      </div>

      <div *ngIf="selectSegment == 'projects'" class="ion-justify-content-center">
        <ion-card>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="selectSegment == 'techs'" class="">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tecnologias</ion-card-title>
            <ion-card-subtitle
              >Linguagens/Frameworks/Ferramentas</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Angular</ion-label>
              </ion-item>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Ionic</ion-label>
              </ion-item>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Bootstrap</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Figma</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Photoshop</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Git/Github</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>JavaScript</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>CSS</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>HTML</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Atualmente estudando...</ion-card-title>
            <ion-card-subtitle>Frameworks/Biblioteca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>Flutter</ion-label>
              </ion-item>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>React</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-row>
  </ion-col>
</ion-content>
